[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump
[submodule "shine"]
	path = shine
	url = https://github.com/vrld/shine
[submodule "Quickie"]
	path = Quickie
	url = https://github.com/vrld/Quickie
